h1{
    text-align: center;
    background-color: lightblue;
    color: darkblue;
}
.myStyle {
    color: darkgoldenrod;
    background-color: aliceblue;
    padding-left: 10px;
    border: 2px solid red;
}